.introblurb{
  overflow:hidden;
}
.content__container__list{
  overflow: hidden;
  height: 40px;
  margin-top: 0;
  text-align: left;
  list-style: none;
  font-size: 17pt;
}
.content__container__list__item{
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
p{
  display: inline;
  float: left;
  margin: 0;
}
li {
  line-height:40px;
  margin:0;
    }

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-40px,0);}
  33.32%,45.98% {transform:translate3d(0,-80px,0);}
  49.98%,62.64% {transform:translate3d(0,-120px,0);}
  66.64%,79.3% {transform:translate3d(0,-80px,0);}
  83.3%,95.96% {transform:translate3d(0,-40px,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-40px,0);}
  33.32%,45.98% {transform:translate3d(0,-80px,0);}
  49.98%,62.64% {transform:translate3d(0,-120px,0);}
  66.64%,79.3% {transform:translate3d(0,-80px,0);}
  83.3%,95.96% {transform:translate3d(0,-40px,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-40px,0);}
  33.32%,45.98% {transform:translate3d(0,-80px,0);}
  49.98%,62.64% {transform:translate3d(0,-120px,0);}
  66.64%,79.3% {transform:translate3d(0,-80px,0);}
  83.3%,95.96% {transform:translate3d(0,-40px,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-40px,0);}
  33.32%,45.98% {transform:translate3d(0,-80px,0);}
  49.98%,62.64% {transform:translate3d(0,-120px,0);}
  66.64%,79.3% {transform:translate3d(0,-80px,0);}
  83.3%,95.96% {transform:translate3d(0,-40px,0);}
}




.rotating-text {
  font-size: 36px;
  line-height: 1.6;
}
.rotating-text p {
  display: inline-flex;
  vertical-align: top;
  margin: 0;
}
.main_description{
  width: 73.5%;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
  font-weight: 600;
}
.rotating-text p .word .letter {
  transform-origin: center center 20px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: #e74c3c;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #2ecc71;
}

.sun-flower {
  color: #a3945b;
}
