/*            MAIN              */
html{
  height:100%;
  width:100%;
}
body{
    background: url("../assets/back.jpg") fixed right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfff4;
    height:100%;
    margin: 0;
}
li {
  line-height:40px;
  margin:0;
    }
.main{
    width: 100%;
}
.intro{
    height:100vh;
    width: 100%;
}
.text_centre{
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
    font-family: 'Louis George Cafe', serif;
}
.text_centre h1{
    font-size: 47.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #D6D4D4;
    margin-bottom: 10px;
}
.text_centre p{
    font-size: 18.5pt;
    color: #D6D4D4;
    margin-bottom: 20px;
}
.scroll{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 35px);
  background-image: url("../assets/arrow.png");
  background-size: cover;
  width: 70px;
  height: 50px;
  animation: updown 3s ease infinite;
  cursor: pointer;
}
.flag-side{
  position: absolute;
  top: 45px;
  right: 45px;
  color: #000000;
  white-space: nowrap;
  font-size: 22px;
  font-family: 'Fjord One', serif;
}
.flag{
  width: 31px;
  height: auto;
  margin-right: 15px;
}
.container{
    width: 100%;
}
a{
  color: black;
  transition:color 0.2s ease-in-out;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
  color: #007bff;
}
.name{
  color: #4583AD;
}
.main_icon{
  width: 40px;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.wrapper-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.spot{
  width: 12px;
  height: 12px;
  border-radius: 8px;
}
.cert{
  background-color: #b30000;
}
.work{
  background-color: #00b3b3;
}
.inte{
  background-color: #000066;
}
.exch{
  background-color: #6b621f;
}
.vol{
  background-color: #62285e;
}
.proj{
  background-color: #314559;
}
.awa{
  background-color: #ffccff;
}
.comp{
  background-color: #ffffcc;
}
.cour{
  background-color: #d1d1e0;
}
.me_pic{
  background-image: url("../assets/me.png");
  background-size: cover;
  width: 130px;
  height: 130px;
  transform: translateX(-50%);
  left:50%;
  position: relative;
  border: 10px solid black;
  border-radius: 50%;
}
.bio{
  align-items:center;
}
@keyframes updown {
  0% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(-30%);
  }
}




/*            PORTFOLIO           */
* { box-sizing: border-box; }
.carousel {
  background: #000000;
}
.carousel-cell {
  width: 30%;
  height: 400px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell h6{
  color: #4583AD;
  font-size: 15px;
}
/* cell number
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/
.portfolio{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
  padding-bottom: 100px;
}
.portfolio h2{
  font-size: 30pt;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  padding-top: 60px;
  position: relative;
}



/*            STATISTICS          */
.statistics{
  height: 350px;
  background: url("../assets/stat_back.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  position:relative;
}
.colour-overlay{
  text-align:center;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background: rgba(15, 31, 64, 0.4);
  color: white;
}
.statistics .stat_box{
  text-align:center;
  /*border: 1px solid white;*/
  width:300px;
  height:200px;
  display:inline-block;
  background: rgba(0, 0, 0, 0.20);
  margin-right: 20px;
  margin-top: 70px;
}
.statistics h4{
  margin-top: 25px;
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 18px;
}
.number{
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 80px;
  padding-top: 20px;
}



/*            CERTIFICATIONS           */
.certs{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
  padding-bottom: 45px;
}
.certs h2{
  font-size: 30pt;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  padding-top: 60px;
  position: relative;
}
.certs h2:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #4583AD;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
}
.certs h2:before {
  content: '';
  width: 200px;
  height: 1px;
  background: #353535;
  position: absolute;
  bottom: -10px;
}
.cert-wrapper{
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cert-item{
  text-align:center;
  width:140px;
  height:140px;
  position: relative;
  margin-right: 20px;
}
.networkplus{
  background: url("../assets/certs/networkplus.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.securityplus{
  background: url("../assets/certs/securityplus.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.azurefunda{
  background: url("../assets/certs/azurefunda.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtapython{
  background: url("../assets/certs/mtapython.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtasoftware{
  background: url("../assets/certs/mtasoftware.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtanetworking{
  background: url("../assets/certs/mtanetworking.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtajs{
  background: url("../assets/certs/mtajs.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtasecurity{
  background: url("../assets/certs/mtasecurity.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtaserver{
  background: url("../assets/certs/mtaserver.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.azuredata{
  background: url("../assets/certs/azuredata.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.azureai{
  background: url("../assets/certs/azureai.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*            EDUCATION           */
.edu{
  height: 200px;
  background: url("../assets/edu_back.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu .info-box{
  text-align:center;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  position: relative;
  background: rgba(15, 31, 64, 0.4);
  color: white;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  -o-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}
.edu .info-box:hover, .statistics .stat_box:hover{
  background: rgba(0, 0, 0, 0.60);
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  -o-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}
.edu h3{
  font-size: 30px;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  margin-top: 5px;
  margin-bottom: 10px;
}
.info{
  margin-top: 2.5%;
}




/*            FOOTER              */
footer{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  color: white;
  font-size: 20px;
  font-family: 'Louis George Cafe', sans-serif;
}
footer p a{
  color: #4583AD;;
}
footer p a:hover{
	text-decoration: underline overline;
}





@media (max-width: 1320px) {
  .statistics{
    height: auto;
    display: grid;
  }
  .statistics .stat_box{
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1160px) {
  .statistics{
    height: auto;
    display: grid;
  }
  .statistics .stat_box{
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .scroll{
      bottom: 20px;
      font-size: 17px;
  }
  .text_centre{
      top: 17.5%;
      left: 0%;
  }
  .bio{
    display:contents;
    align-items:center;
  }
  .me_pic{
    transform: translateX(-50%);
    left:50%;
    width: 95px;
    height: 95px;
    border: 6px solid black;
  }
  .text_centre h1{
      font-size: 42pt;
      font-family: 'Source Sans Pro', sans-serif;
      color: #D6D4D4;
      margin-bottom: 10px;
  }
  .text_centre p{
      font-size: 15pt;
      color: #D6D4D4;
      margin-bottom: 20px;
  }
}
@media (max-width: 1000px){
  .statistics{
    height: auto;
    display: grid;
  }
  .statistics .stat_box{
    width:350px;
    background: rgba(0, 0, 0, 0.40);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cert-wrapper{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cert-item{
    width:120px;
    height:120px;
    margin-top: 20px;
  }
  .edu{
    height: 250px;
  }
  .info{
    margin-top: 10%;
  }
}
@media (max-width: 880px) {
  .gallery{
    left: 0%;
    transform: translateX(0%);
    width: 100%;
  }
  .text_centre h1{
      font-size: 30pt;
      margin-bottom: 0px;
  }
  .text_centre p{
      font-size: 14pt;
      margin-bottom: 5px;
  }
  .wrapper-button {
    display: inline;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .svg-wrapper-button{
    float: left;
    margin-bottom: 15px;
  }
}
