/*            MAIN              */
html{
  height:100%;
  width:100%;
}
body{
    background: url("../assets/back.png") fixed right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfff4;
    height:100%;
}
.main{
    width: 100%;
}
.intro{
    height:100vh;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
}
.text_centre{
    position: fixed;
    top: 47%;
    left: 17%;
    transform: translateY(-50%);
    font-family: 'Louis George Cafe', serif;
}
.text_centre h1{
    font-size: 45pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    margin-bottom: 10px;
}
.text_centre p{
    font-size: 17pt;
    color: #262626;
    margin-bottom: 20px;
}
.scroll{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    color: #000000;
    white-space: nowrap;
    font-size: 22px;
    font-family: 'Louis George Cafe', serif;
}
.flag-side{
    position: absolute;
    top: 20px;
    right: 0;
    color: #000000;
    white-space: nowrap;
    font-size: 22px;
    font-family: 'Fjord One', serif;
}
.flag{
  width: 27px;
  height: auto;
}
.container{
    width: 100%;
}
a{
    color: black;
    transition:color 0.2s ease-in-out;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
    color: #007bff;
}
.name{
  color: #1D5378;
}
.main_icon{
  width: 50px;
  height: auto;
  margin-right: 50px;
}
.wrapper-button {
  margin-top: 0;
  border-radius: 3px;
  margin-top: 12%;
  margin-left: 70px;
  display: flex;
}



/*            PROJECT             */
.project-section {
  align-items: center;
	justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.project {
	background-color: #d7e3f4;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
  margin-bottom: 5px;
	overflow: hidden;
	width: 70%;
  height: 200px;
  box-sizing: border-box;
  font-family: 'Louis George Cafe', serif;
}
.project h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.project h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}
.project-preview {
	background-color: #8faeef;
	color: #fff;
	padding: 30px;
	max-width: 250px;
  min-width: 250px;
}
.project-info {
	padding: 30px;
	position: relative;
	width: 100%;
  background-position: center;
  background-color: hsla(215.2,56.9%,90%,0.80);
  background-blend-mode: overlay;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress-100 {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress-100::after {
	border-radius: 3px;
	background-color: #8faeef;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}
.btn {
	background-color: #8faeef;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
  cursor: pointer;
	letter-spacing: 1px;
}
.project-info li{
  margin: -12px 0;
}


.background-hms{
    background-image: url("../assets/hms.jpg");
}
.background-richy{
    background-image: url("../assets/richy.jpg");
}
.background-backH{
  background-image: url("../assets/backhome.jpg");
}
.background-upris{
  background-image: url("../assets/uprising1944.jpg");
}
.background-adidas{
  background-image: url("../assets/adidas.jpg");
}
.background-malay{
  background-image: url("../assets/malaysia.jpg");
}





@media (max-width: 1160px) {
  .project{
      height: 270px;
  }
  .project{
      width: 80%;
  }
}
@media (max-width: 1070px) {
  .progress-container {
  	position: relative;
  	top: 0px;
  	right: 0px;
  	text-align: center;
  	width: 150px;
  }
}
@media (max-width: 960px) {
  .project{
      height: 300px;
  }
  .btn {
  	border-radius: 0px;
  	font-size: 20px;
  	bottom: 0px;
  	right: 0%;
    width: 100%;
  	background-color: #85a0db;
  }
  .project-preview {
    max-width: 150px;
    min-width: 150px;
  }
  .text_centre{
    left: 45%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media (max-width: 770px) {
  .project {
    width: 90%;
  }
  .project-info li{
    margin: 0px 0;
    line-height: 170%;
  }
  .project-info {
  	padding: 15px;
  }
  .text_centre{
      width: 100%;
      left: 50%;
  }
}
@media (max-width: 650px) {
  .intro{
      height:100vh;
      width: 100%;
      left: 0;
      transform: translate(0%);
  }
  .text_centre p{
      width: 90%;
  }
  .flag-side{
      right: 20px;
  }
  .scroll{
      bottom: 50px;
      font-size: 17px;
  }
}
@media (max-width: 600px) {
  .project {
    width: 98%;
    margin-left: 0;
    margin-right: 0;
  }
  .project h2 {
  	letter-spacing: 1px;
  	margin: 5px 0;
    font-size: 20px;
  }
  .project span {
    font-size: 13px;
  }
  .project-preview {
    max-width: 100px;
    min-width: 100px;
  }
}
@media (max-width: 490px) {
  .scroll{
      bottom: 20px;
      font-size: 15px;
  }
  .text_centre{
      top: 10%;
  }
}
