/*            MAIN              */
html{
  height:100%;
  width:100%;
}
body{
    background: url("../assets/back.jpg") fixed right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfff4;
    height:100%;
    margin: 0;
}
li {
  line-height:40px;
  margin:0;
    }
.main{
    width: 100%;
}
.intro{
    height:100vh;
    width: 100%;
}
.text_centre{
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
    font-family: 'Louis George Cafe', serif;
}
.text_centre h1{
    font-size: 47.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #D6D4D4;
    margin-bottom: 10px;
}
.text_centre p{
    font-size: 18.5pt;
    color: #D6D4D4;
    margin-bottom: 20px;
}
.scroll{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  background-image: url("../assets/arrow.png");
  background-size: cover;
  width: 70px;
  height: 50px;
}
.flag-side{
  position: absolute;
  top: 45px;
  right: 45px;
  color: #000000;
  white-space: nowrap;
  font-size: 22px;
  font-family: 'Fjord One', serif;
}
.flag{
  width: 31px;
  height: auto;
}
.container{
    width: 100%;
}
a{
  color: black;
  transition:color 0.2s ease-in-out;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
  color: #007bff;
}
.name{
  color: #4583AD;
}
.main_icon{
  width: 40px;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.wrapper-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.spot{
  width: 12px;
  height: 12px;
  border-radius: 8px;
}
.cert{
  background-color: #b30000;
}
.work{
  background-color: #00b3b3;
}
.inte{
  background-color: #000066;
}
.exch{
  background-color: #6b621f;
}
.vol{
  background-color: #62285e;
}
.proj{
  background-color: #314559;
}
.awa{
  background-color: #ffccff;
}
.comp{
  background-color: #ffffcc;
}
.cour{
  background-color: #d1d1e0;
}
.me_pic{
  background-image: url("../assets/me.png");
  background-size: cover;
  width: 130px;
  height: 130px;
  transform: translateX(-50%);
  left:50%;
  position: relative;
  border: 10px solid black;
  border-radius: 50%;
}
.bio{
  /*display:flex;*/
  align-items:center;
}




/*            PORTFOLIO           */
.portfolio{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
}
.portfolio h2{
  font-size: 30pt;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  padding-top: 60px;
  position: relative;
}
.portfolio h2:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #4583AD;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
}
.portfolio h2:before {
  content: '';
  width: 200px;
  height: 1px;
  background: #353535;
  position: absolute;
  bottom: -10px;
}
.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.gallery{
  margin-top: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-40%);
  width: 90%;
}
.portfolio .filtering span {
  padding: 8px 20px;
  margin: 0 5px;
  color: #777;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #eee;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .filtering .active {
  color: #fff;
  background: #4583AD;
  border: 2px solid #4583AD;;
}
.portfolio .items {
  padding: 0 15px;
  margin-bottom: 30px;
}
.portfolio .item-img {
  position: relative;
  overflow: hidden;
}
.portfolio .item-img h5 {
  font-size: 18px;
  position: relative;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
  color: #e2e2e2;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .item-img h6 {
  color: #4583AD;
  font-size: 13px;
  position: relative;
  margin-top: 50px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .item-img .link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #4583AD;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 5;
  opacity: 0;
}
.portfolio .item-img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: transparent;
  z-index: 2;
}
.portfolio .item-img-overlay:before, .portfolio .item-img-overlay:after {
  content: '';
  position: absolute;
  width: 0;
  height: 50%;
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #24272a; /*#303741*/
}
.portfolio .item-img-overlay:before {
  left: 0;
  top: 0;
}
.portfolio .item-img-overlay:after {
  right: 0;
  bottom: 0;
}
.portfolio .item-img-overlay:hover:before, .portfolio .item-img-overlay:hover:after {
  width: 100%;
}
.portfolio .item-img-overlay:hover h6, .portfolio .item-img-overlay:hover h5, .portfolio .item-img-overlay:hover .link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}



/*            STATISTICS          */
.statistics{
  height: 350px;
  background: url("../assets/stat_back.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics .stat_box{
  text-align:center;
  /*border: 1px solid white;*/
  width:300px;
  height:200px;
  position: relative;
  background: rgba(0, 0, 0, 0.20);
  margin-right: 20px;
}
.statistics h4{
  margin-top: 0px;
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  position: absolute;
}
.number{
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 80px;
  padding-top: 20px;
}





/*            PROJECT             */
.project-section {
  align-items: center;
	justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.project {
	background-color: #d7e3f4;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
  margin-bottom: 5px;
	overflow: hidden;
	width: 70%;
  height: 200px;
  box-sizing: border-box;
  font-family: 'Louis George Cafe', serif;
}
.project h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  margin-left: 15px;
}

.project h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}
.project-preview {
	background-color: #8faeef;
	color: #fff;
	padding: 30px;
	max-width: 250px;
  min-width: 250px;
}
.project-info {
	padding: 30px;
	position: relative;
	width: 100%;
  background-position: center;
  background-color: hsla(215.2,56.9%,90%,0.80);
  background-blend-mode: overlay;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress-100 {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress-100::after {
	border-radius: 3px;
	background-color: #8faeef;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}
.btn {
	background-color: #8faeef;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
  cursor: pointer;
	letter-spacing: 1px;
}
.project-info li{
  margin: -12px 0;
}


.background-hms{
    background-image: url("../assets/hms.jpg");
}
.background-richy{
    background-image: url("../assets/richy.jpg");
}
.background-backH{
  background-image: url("../assets/backhome.jpg");
}
.background-upris{
  background-image: url("../assets/uprising1944.jpg");
}
.background-adidas{
  background-image: url("../assets/adidas.jpg");
}
.background-malay{
  background-image: url("../assets/malaysia.jpg");
}





@media (max-width: 1160px) {
  .project{
      height: 270px;
      width: 90%;
  }
  .scroll{
      bottom: 20px;
      font-size: 17px;
  }
  .text_centre{
      top: 17.5%;
      left: 0%;
  }
  .bio{
    display:contents;
    align-items:center;
  }
  .me_pic{
    transform: translateX(-50%);
    left:50%;
    width: 95px;
    height: 95px;
    border: 6px solid black;
  }
  .wrapper-button {
    margin-top: 0px;
  }
  .text_centre h1{
      font-size: 42pt;
      font-family: 'Source Sans Pro', sans-serif;
      color: #D6D4D4;
      margin-bottom: 10px;
  }
  .text_centre p{
      font-size: 15pt;
      color: #D6D4D4;
      margin-bottom: 20px;
  }
}
@media (max-width: 850px) {
  .progress-container {
  	position: relative;
  	top: 0px;
  	right: 0px;
  	text-align: center;
  	width: 150px;
  }
  .wrapper-button {
    margin-top: 15%;
  }
}
@media (max-width: 650px) {
  .project {
    width: 98%;
    margin-left: 0;
    margin-right: 0;
  }
  .project h2 {
  	letter-spacing: 1px;
  	margin: 10px 0;
    font-size: 20px;
  }
  .project span {
    font-size: 11.5px;
  }
  .project-preview {
    max-width: 100px;
    min-width: 100px;
    padding: 15px;
  }
  .project-info {
    padding: 10px;
  }
  .btn {
    border-radius: 0px;
    font-size: 20px;
    bottom: 0px;
    right: 0%;
    width: 100%;
    background-color: #85a0db;
  }
}
