/*            MAIN              */
html{
  height:100%;
  width:100%;
}
body{
    background: url("../assets/back.jpg") fixed right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfff4;
    height:100%;
    margin: 0;
}
li {
  line-height:40px;
  margin:0;
    }
.main{
    width: 100%;
}
.intro{
    height:100vh;
    width: 100%;
}
.text_centre{
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
    font-family: 'Louis George Cafe', serif;
}
.text_centre h1{
    font-size: 47.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #D6D4D4;
    margin-bottom: 10px;
}
.text_centre p{
    font-size: 18.5pt;
    color: #D6D4D4;
    margin-bottom: 20px;
}
.scroll{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  background-image: url("../assets/arrow.png");
  background-size: cover;
  width: 70px;
  height: 50px;
}
.flag-side{
  position: absolute;
  top: 45px;
  right: 45px;
  color: #000000;
  white-space: nowrap;
  font-size: 22px;
  font-family: 'Fjord One', serif;
}
.flag{
  width: 31px;
  height: auto;
}
.container{
    width: 100%;
}
a{
  color: black;
  transition:color 0.2s ease-in-out;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
  color: #007bff;
}
.name{
  color: #4583AD;
}
.main_icon{
  width: 40px;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.wrapper-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.spot{
  width: 12px;
  height: 12px;
  border-radius: 8px;
}
.cert{
  background-color: #b30000;
}
.work{
  background-color: #00b3b3;
}
.inte{
  background-color: #000066;
}
.exch{
  background-color: #6b621f;
}
.vol{
  background-color: #62285e;
}
.proj{
  background-color: #314559;
}
.awa{
  background-color: #ffccff;
}
.comp{
  background-color: #ffffcc;
}
.cour{
  background-color: #d1d1e0;
}
.me_pic{
  background-image: url("../assets/me.png");
  background-size: cover;
  width: 130px;
  height: 130px;
  transform: translateX(-50%);
  left:50%;
  position: relative;
  border: 10px solid black;
  border-radius: 50%;
}
.bio{
  align-items:center;
}




/*            PORTFOLIO           */
.portfolio{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
}
.portfolio h2{
  font-size: 30pt;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  padding-top: 60px;
  position: relative;
}
.portfolio h2:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #4583AD;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
}
.portfolio h2:before {
  content: '';
  width: 200px;
  height: 1px;
  background: #353535;
  position: absolute;
  bottom: -10px;
}
.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.gallery{
  margin-top: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 80%;
}
.portfolio .filtering span {
  padding: 8px 20px;
  margin: 0 5px;
  color: #777;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #eee;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .filtering .active {
  color: #fff;
  background: #4583AD;
  border: 2px solid #4583AD;;
}
.portfolio .items {
  padding: 0 15px;
  margin-bottom: 30px;
}
.portfolio .item-img {
  position: relative;
  overflow: hidden;
}
.portfolio .item-img h5 {
  font-size: 18px;
  position: relative;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
  color: #e2e2e2;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .item-img h6 {
  color: #4583AD;
  font-size: 13px;
  position: relative;
  margin-top: 50px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
  font-family: 'Louis George Cafe', sans-serif;
}
.portfolio .item-img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: transparent;
  z-index: 2;
}
.portfolio .item-img-overlay:before, .portfolio .item-img-overlay:after {
  content: '';
  position: absolute;
  width: 0;
  height: 50%;
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #24272a; /*#303741*/
}
.portfolio .item-img-overlay:before {
  left: 0;
  top: 0;
}
.portfolio .item-img-overlay:after {
  right: 0;
  bottom: 0;
}
.portfolio .item-img-overlay:hover:before, .portfolio .item-img-overlay:hover:after {
  width: 100%;
}
.portfolio .item-img-overlay:hover h6, .portfolio .item-img-overlay:hover h5, .portfolio .item-img-overlay:hover .link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}



/*            STATISTICS          */
.statistics{
  height: 350px;
  background: url("../assets/stat_back.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics .stat_box{
  text-align:center;
  /*border: 1px solid white;*/
  width:300px;
  height:200px;
  position: relative;
  background: rgba(0, 0, 0, 0.20);
  margin-right: 20px;
}
.statistics h4{
  margin-top: 0px;
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  position: absolute;
}
.number{
  color: white;
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 80px;
  padding-top: 20px;
}



/*            CERTIFICATIONS           */
.certs{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
  padding-bottom: 45px;
}
.certs h2{
  font-size: 30pt;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  padding-top: 60px;
  position: relative;
}
.certs h2:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #4583AD;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
}
.certs h2:before {
  content: '';
  width: 200px;
  height: 1px;
  background: #353535;
  position: absolute;
  bottom: -10px;
}
.cert-wrapper{
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cert-item{
  text-align:center;
  width:170px;
  height:170px;
  position: relative;
  margin-right: 20px;
}
.networkplus{
  background: url("../assets/certs/networkplus.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.securityplus{
  background: url("../assets/certs/securityplus.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.azurefunda{
  background: url("../assets/certs/azurefunda.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtapython{
  background: url("../assets/certs/mtapython.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtasoftware{
  background: url("../assets/certs/mtasoftware.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtanetworking{
  background: url("../assets/certs/mtanetworking.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtajs{
  background: url("../assets/certs/mtajs.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mtasecurity{
  background: url("../assets/certs/mtasecurity.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*            EDUCATION           */
.edu{
  height: 425px;
  background: url("../assets/edu_back.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu .info-box{
  text-align:center;
  width:300px;
  height:380px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  margin-right: 20px;
}
.edu h3{
  font-size: 35px;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}
.edu h3:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #4583AD;
  position: absolute;
  bottom: -10px;
  left: calc(0% + 60px);
}
.edu h3:before {
  content: '';
  width: 170px;
  height: 1px;
  background: #494949;
  position: absolute;
  bottom: -10px;
}
.edu h4 {
  font-size: 17px;
  font-family: 'Louis George Cafe', sans-serif;
  color: #D6D4D4;
  margin-top: 40px;
  margin-bottom: 0px;
}
.edu h5 {
  font-size: 10px;
  font-family: 'SinkinSans', sans-serif;
  color: #9a9a9a;
  letter-spacing: 0.8px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.edu .extra-space h4 {
  margin-top: 30px;
}
.edu .info-box-skills{
  text-align:center;
  width:450px;
  height:380px;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  margin-right: 20px;
}
.edu .info-box-skills h3:after {
  left: calc(20%);
}
.edu .info-box-skills h3:before {
  width: 250px;
  left: calc(20%);
}
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress h4{
    width: 140px;
}
.progress-bar {
    margin-top: 50px;
    height: 8px;
    background: #464343;
    width: 60%
}
.progress-percent {
    height: 8px;
    background-color: #4583AD;
    position: relative;
    width: 0;
    transition: 2s linear;
}
.progress-percent::before {
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 1px 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    width: 20px;
    margin: 0px auto;
}


/*            FOOTER              */
footer{
  width: 100%;
  background-color: #0E0E0E;
  text-align: center;
  overflow: hidden;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  color: white;
  font-size: 20px;
  font-family: 'Louis George Cafe', sans-serif;
}
footer p a{
  color: #4583AD;;
}
footer p a:hover{
	text-decoration: underline overline;
}






@media (max-width: 1160px) {
  .scroll{
      bottom: 20px;
      font-size: 17px;
  }
  .text_centre{
      top: 17.5%;
      left: 0%;
  }
  .bio{
    display:contents;
    align-items:center;
  }
  .me_pic{
    transform: translateX(-50%);
    left:50%;
    width: 95px;
    height: 95px;
    border: 6px solid black;
  }
  .text_centre h1{
      font-size: 42pt;
      font-family: 'Source Sans Pro', sans-serif;
      color: #D6D4D4;
      margin-bottom: 10px;
  }
  .text_centre p{
      font-size: 15pt;
      color: #D6D4D4;
      margin-bottom: 20px;
  }
}
@media (max-width: 1000px){
  .statistics{
    height: auto;
    overflow: auto;
    display: grid;
  }
  .statistics .stat_box{
    width:350px;
    background: rgba(0, 0, 0, 0.40);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cert-wrapper{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cert-item{
    width:120px;
    height:120px;
    margin-top: 20px;
  }
  .edu{
    height: auto;
    overflow: auto;
    display: grid;
  }
  .edu .info-box{
    width:500px;
    height: 450px;
    background: rgba(0, 0, 0, 0.40);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .edu .info-box-skills{
    width:500px;
    height: 350px;
    margin-bottom: 30px;
  }
  .info-box h4 {
    font-size: 25px;
  }
  .info-box h5 {
    font-size: 15px;
  }
  .edu h3:after {
    left: calc(25%);
  }
  .edu .info-box-skills h3:after {
    left: calc(25%);
  }
  .edu .info-box-skills h3:before {
    width: 180px;
    left: calc(37%);
  }
}
@media (max-width: 880px) {
  .gallery{
    left: 0%;
    transform: translateX(0%);
    width: 100%;
  }
}
